# Analysis on error rate and fraud rate among three transaction types: swipt, online and chip transaction.
---
## Import libraries and coordinate the data.

In [396]:
matplotlib widget

In [310]:
# Set up Dependencies and Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dataframe_image as dfi

In [303]:
# Load the CSV into a Pandas DataFrame
raw_data_df = pd.read_csv("Resources_xuan/User0_credit_card_transactions.csv", na_values=' ')

# Display sample data
raw_data_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [304]:
# Select the columns needed for analysis and created a sub data set.
transaction_type_raw_df = raw_data_df[['Year', 'Amount', 'Use Chip', 'Errors?', 'Is Fraud?' ]]
# Fill in the empty cell with N/A
transaction_type_df = transaction_type_raw_df.fillna('N/A')
# Export the transaction_type_df into a csv
transaction_type_df.to_csv("Resources_xuan/data_xuan.csv")

transaction_type_df.head()

   Year   Amount           Use Chip Errors? Is Fraud?
0  2002  $134.09  Swipe Transaction     N/A        No
1  2002   $38.48  Swipe Transaction     N/A        No
2  2002  $120.34  Swipe Transaction     N/A        No
3  2002  $128.95  Swipe Transaction     N/A        No
4  2002  $104.71  Swipe Transaction     N/A        No

## "The Proportion of The Three Transaction Methods from 2002 to 2020"

In [397]:
# Create a pie chart display the portion of each transation type from 2002 to 2020
# Calculate the total transactions of each transaction type
num_swipe_trans = 0
num_online_trans = 0
num_chip_trans = 0

for i in range(1,transaction_type_df.index.size):
    if transaction_type_df['Use Chip'][i] == 'Swipe Transaction':
        num_swipe_trans = num_swipe_trans + 1
    if transaction_type_df['Use Chip'][i] == 'Online Transaction':
        num_online_trans = num_online_trans + 1
    if transaction_type_df['Use Chip'][i] == 'Chip Transaction':
        num_chip_trans = num_chip_trans + 1
# Labels for the sections of our pie chart
labels = ["Swipe", "Online", "Chip"]

# The values of each section of the pie chart
sizes = [num_swipe_trans, num_online_trans, num_chip_trans]

# The colors of each section of the pie chart
colors = ["lightgreen", "lightcoral", "lightskyblue"]

# Plot the pie chart
#colors
colors = ['#66b3ff', '#ff9999','#99ff99']

plt.title("The Proportion of The Three Transaction Methods from 2002 to 2020")
plt.pie(sizes, labels=labels, textprops={"fontsize":12}, colors=colors, wedgeprops=
       {'edgecolor':'white'}, startangle=90,
        autopct="%1.1f%%", shadow=True)


# Save the figure
plt.savefig("output_data_xuan/Fig1.png")
# Show plot
plt.show()

FigureCanvasNbAgg()

## Total transaction volume (in each transaction type) each year between 2002 to 2020.

In [306]:
# Put years into a list for for loop (and later for plot labels)
Years = [*set(transaction_type_df['Year'])]

# Create empty lists to fill with number of transactions each year for each transaction type (for plotting)
swipe_num_by_year = []
online_num_by_year = []
chip_num_by_year = []

#Calculate the nunber of transations each year for each transaction type
for year in Years:
    num_swipe_single_year = len(transaction_type_df[(transaction_type_df['Year'] == year) & (transaction_type_df['Use Chip'] =='Swipe Transaction')])
    num_online_single_year = len(transaction_type_df[(transaction_type_df['Year'] == year) & (transaction_type_df['Use Chip'] =='Online Transaction')])
    num_chip_single_year = len(transaction_type_df[(transaction_type_df['Year'] == year) & (transaction_type_df['Use Chip'] =='Chip Transaction')])
    swipe_num_by_year.append(num_swipe_single_year)
    online_num_by_year.append(num_online_single_year)
    chip_num_by_year.append(num_chip_single_year)

transaction_types = ['Swipe Transaction','Online Transaction','Chip Transaction']

plot_2_df = pd.DataFrame(columns=Years, index= transaction_types)
plot_2_df.loc['Swipe Transaction']= swipe_num_by_year
plot_2_df.loc['Online Transaction']= online_num_by_year
plot_2_df.loc['Chip Transaction']= chip_num_by_year
plot_2_df.head()

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Swipe Transaction,317,1023,1116,1059,1065,1055,1096,1050,1034,1059,1101,1051,1099,547,514,541,515,525,73
Online Transaction,12,51,60,68,55,56,67,69,89,54,68,88,84,121,97,93,91,74,18
Chip Transaction,0,0,0,0,0,0,0,0,0,0,0,0,0,514,508,546,584,565,91

### Create a line chart showing transaction volume in each year.

In [329]:
ax = plot_2_df.T.plot(figsize=(14, 6))
ax.set_ylabel('Total Transaction Volum', fontsize=12)
ax.set_xlabel('Years', fontsize=12)
ax.set_title('Total transaction volume each year between 2002 to 2020', fontsize=12)
ax.set_xticks(plot_2_df.columns)
plt.savefig("output_data_xuan/Fig3.png")
plt.show()

FigureCanvasNbAgg()

### Create a dataframe and save in png showing transaction volume in each year.

In [286]:
plot_2_df['Total'] = [num_swipe_trans, num_online_trans, num_chip_trans]
plot_2_df.style.set_precision(10)
plot_2_df.head()

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Total
Swipe Transaction,317,1023,1116,1059,1065,1055,1096,1050,1034,1059,1101,1051,1099,547,514,541,515,525,73,15839
Online Transaction,12,51,60,68,55,56,67,69,89,54,68,88,84,121,97,93,91,74,18,1315
Chip Transaction,0,0,0,0,0,0,0,0,0,0,0,0,0,514,508,546,584,565,91,2808

In [311]:
dfi.export(plot_2_df, "output_data_xuan/dataframe.png")

objc[95474]: Class WebSwapCGLLayer is implemented in both /System/Library/Frameworks/WebKit.framework/Versions/A/Frameworks/WebCore.framework/Versions/A/Frameworks/libANGLE-shared.dylib (0x7ffb541dcec8) and /Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/108.0.5359.98/Libraries/libGLESv2.dylib (0x1165a0568). One of the two will be used. Which one is undefined.
[1210/190749.201613:INFO:headless_shell.cc(623)] Written to file /var/folders/nr/qyr490c54sq67hql7zbh0zz40000gn/T/tmp8u0imiyp/temp.png.

## Error rate and fraud rate among three transaction types between 2002 to 2020.

In [376]:
# Create empty lists (for plotting)
num_total_list =[]
num_error_list =[]
num_fraud_list = []
error_rate_list = []
fraud_rate_list = []

# Calculate the error rate in each transaction types and prep for plotting
for a in transaction_types:
    a_error = len(transaction_type_df[(transaction_type_df['Use Chip'] == a) & (transaction_type_df['Errors?']!='N/A')])
    a_total = len(transaction_type_df[transaction_type_df['Use Chip'] == a])
    a_fraud =  len(transaction_type_df[(transaction_type_df['Use Chip'] == a) & (transaction_type_df['Is Fraud?']=='Yes')])
    #error_rate = int(a_error)/int(a_total)
    #fraud_rate = int(a_fraud)/int(a_total)
    error_rate = "{:.2%}".format(int(a_error)/int(a_total))
    fraud_rate = "{:.2%}".format(int(a_fraud)/int(a_total))
    num_error_list.append(a_error)
    num_fraud_list.append(a_fraud)
    num_total_list.append(a_total)
    error_rate_list.append(error_rate)
    fraud_rate_list.append(fraud_rate)

#error_rate = "{:.2%}".format(int(a_error)/int(a_total))
#fraud_rate = "{:.2%}".format(int(a_fraud)/int(a_total))
plot_df_1 = pd.DataFrame({"Total Errors":num_error_list, "Error Rate": error_rate_list, "Total Fraud": num_fraud_list, "Fraud Rate": fraud_rate_list, "Total Transactions": num_total_list}, index = transaction_types)
plot_df_1.head()

,Total Errors,Error Rate,Total Fraud,Fraud Rate,Total Transactions
Swipe Transaction,458,2.89%,11,0.07%,15840
Online Transaction,35,2.66%,15,1.14%,1315
Chip Transaction,81,2.88%,1,0.04%,2808

## Error rate and fraud rate among three transaction types between 2015 to 2020.

In [378]:
# Selecte dataframe between year 2015 to 2020
transaction_type_df_2 = transaction_type_df[(transaction_type_df['Year'] > 2014)]

# Create empty lists (for plotting)
num_total_list_2 =[]
num_error_list_2 =[]
num_fraud_list_2 = []
error_rate_list_2 = []
fraud_rate_list_2 = []

# Calculate the error rate in each transaction types and prep for plotting
for a in transaction_types:
    a_error_2 = len(transaction_type_df_2[(transaction_type_df_2['Use Chip'] == a) & (transaction_type_df_2['Errors?']!='N/A')])
    a_total_2 = len(transaction_type_df_2[transaction_type_df_2['Use Chip'] == a])
    a_fraud_2 =  len(transaction_type_df_2[(transaction_type_df_2['Use Chip'] == a) & (transaction_type_df_2['Is Fraud?']=='Yes')])
    #error_rate_2 = int(a_error_2)/int(a_total_2)
    #fraud_rate_2 = int(a_fraud_2)/int(a_total_2)
    error_rate_2 = "{:.2%}".format(int(a_error_2)/int(a_total_2))
    fraud_rate_2 = "{:.2%}".format(int(a_fraud_2)/int(a_total_2))
    num_error_list_2.append(a_error_2)
    num_fraud_list_2.append(a_fraud_2)
    num_total_list_2.append(a_total_2)
    error_rate_list_2.append(error_rate_2)
    fraud_rate_list_2.append(fraud_rate_2)

#error_rate_2 = "{:.2%}".format(int(a_error_2)/int(a_total_2))
#fraud_rate_2 = "{:.2%}".format(int(a_fraud_2)/int(a_total_2))

plot_df_2 = pd.DataFrame({"Total Errors":num_error_list_2, "Error Rate": error_rate_list_2, "Total Fraud": num_fraud_list_2, "Fraud Rate": fraud_rate_list_2, "Total Transactions": num_total_list_2}, index = transaction_types)
plot_df_2.head()

,Total Errors,Error Rate,Total Fraud,Fraud Rate,Total Transactions
Swipe Transaction,82,3.02%,1,0.04%,2715
Online Transaction,13,2.63%,15,3.04%,494
Chip Transaction,81,2.88%,1,0.04%,2808

## "The Proportion of The Three Transaction Methods from 2015 to 2020"

In [388]:
# Create a pie chart display the portion of each transation type from 2015 to 2020
# Labels for the sections of our pie chart
labels = ['Swipe', "Online", 'Chip']

# The values of each section of the pie chart
sizes = num_total_list_2

# The colors of each section of the pie chart
colors = ["lightgreen", "lightcoral", "lightskyblue"]

# Plot the pie chart
plt.title("The Proportion of The Three Transaction Methods from 2015 to 2020")
colors = ['#66b3ff', '#ff9999','#99ff99']
plt.pie(sizes, labels=labels, textprops={"fontsize":12}, colors=colors, wedgeprops=
       {'edgecolor':'white'},
        autopct="%1.1f%%", shadow=True, startangle=90)

# Save the figure
plt.savefig("output_data_xuan/Fig2.png")
# Show plot
plt.show()

FigureCanvasNbAgg()

## Data Frame of the rror rate and the fraud rate among three transaction types from 2012 to 2020 and from 2015 to 2020.

In [386]:
test_df1=pd.DataFrame({"Transaction Type": transaction_types,"Total Errors (2002-2020)": num_error_list, "Total Fraud (2002-2020)": num_fraud_list, "Total Errors (2015-2020)": num_error_list_2, "Total Fraud (2015-2020)": num_fraud_list_2,})
test_df1.head()
test_df1= test_df1.style.set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
test_df1.set_properties(**{'text-align': 'center'}).hide_index()
dfi.export(test_df1, "output_data_xuan/dataframe3.png")

objc[2142]: Class WebSwapCGLLayer is implemented in both /System/Library/Frameworks/WebKit.framework/Versions/A/Frameworks/WebCore.framework/Versions/A/Frameworks/libANGLE-shared.dylib (0x7ffb541dcec8) and /Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/108.0.5359.98/Libraries/libGLESv2.dylib (0x11269f568). One of the two will be used. Which one is undefined.
[1211/010252.273868:INFO:headless_shell.cc(623)] Written to file /var/folders/nr/qyr490c54sq67hql7zbh0zz40000gn/T/tmpr6kjl2f5/temp.png.

In [385]:
test_df1=pd.DataFrame({"Transaction Type": transaction_types,"Error Rate (2002-2020)": error_rate_list, "Fraud Rate (2002-2020)": fraud_rate_list, "Error Rate (2015-2020)": error_rate_list_2, "Fraud Rata (2015-2020)": fraud_rate_list_2,})
test_df1.head()
test_df1= test_df1.style.set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
test_df1.set_properties(**{'text-align': 'center'}).hide_index()
dfi.export(test_df1, "output_data_xuan/dataframe2.png")

objc[2114]: Class WebSwapCGLLayer is implemented in both /System/Library/Frameworks/WebKit.framework/Versions/A/Frameworks/WebCore.framework/Versions/A/Frameworks/libANGLE-shared.dylib (0x7ffb541dcec8) and /Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/108.0.5359.98/Libraries/libGLESv2.dylib (0x1122e2568). One of the two will be used. Which one is undefined.
[1211/010208.828987:INFO:headless_shell.cc(623)] Written to file /var/folders/nr/qyr490c54sq67hql7zbh0zz40000gn/T/tmp_kvdfz3c/temp.png.